<% @students.each do |student| %>

<li class="home-blog-post">
  <div class="blog-thumb">
     <img src="../assets/images/<%= student.name.gsub(/\s+/, "").downcase %>.jpg" alt="student image" width="310" height="140">
  </div>

  <div><p class="excerpt">Excerpt</p></div>
  <div class="big-comment">
    <h3><a href="Students/#.php"><%= student.name %></a></h3>
  </div>
  <p class="home-blog-post-meta"><%= student.bio %></p>
</li>

<% end %>